@keyframes logoSpin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

img.spin{
    height:100px;
    transition: logoSpin 6s;
    animation-name: logoSpin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* img.spin:hover{
    transition: logoSpin 6s;
    animation-name: logoSpin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

body.nav{
    background-color: #FFEDDF;
}

.fascinate-inline-regular {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
  }


  .grow-2{
    flex-grow: 1;
  }

  .grow-1{
    flex-grow: 1;
  }
  

  .maxwcarousel{
    max-width: 500px;
  }

  .basis-100{
    flex-basis:100%;
  }

.hoverGrow {
    transition: all .5s linear;
}

.hoverGrow:hover{
    transform: scale(115%,115%);
}

section.grid{
    display:grid;
    grid-template-columns: 170px 1fr;
    padding-left: 50px;
    padding-right:50px;
}

/* Dotted border */
hr.dotted {
    border-top: 3px dotted #bbb;
  }