@keyframes logoSpin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

img.spin{
    height:100px;
    transition: logoSpin 6s;
    animation-name: logoSpin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
/* img.spin:hover{
    transition: logoSpin 6s;
    animation-name: logoSpin;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
} */

body.nav{
    background-color: #FFEDDF;
}

.fascinate-inline-regular {
    font-family: "Fascinate Inline", system-ui;
    font-weight: 400;
    font-style: normal;
  }


  .grow-2{
    flex-grow: 1;
  }

  .grow-1{
    flex-grow: 1;
  }
  
/* carousel */
    .carousel {
      width: 80%;
      max-width: 600px;
      overflow: hidden;
      position: relative;
      border: 2px solid #ddd;
      border-radius: 10px;
    }

    .carousel-inner {
      display: flex;
      animation: slide 21s infinite;
    }

    .carousel img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      flex-shrink: 0;
    }

    @keyframes slide1 {
        0%, 6.5% { transform: translateX(0); opacity: 1; }
        7%, 7.5% { opacity: 0; }
        7.5%, 13.5% { transform: translateX(-100%); opacity: 1; }
        14%, 14.5% { opacity: 0; }
        14.5%, 20.5% { transform: translateX(-200%); opacity: 1; }
        21%, 21.5% { opacity: 0; }
      }